<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<title>金嵘厨房</title>
	
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    
    <style>
    	html,body{margin:0px; height:auto; width:100%;font-size: 12px; font-family:"宋体"; font-size:12px; color:#666}
		img{border:0px}
		.line{height:1px; background-color:#CCC; margin-top:8px; margin-bottom:8px;}
		
		.container{width:920px;font-size:14px;}
		
		
		.nav_buttom { text-align:center}
		.nav_buttom a{ text-decoration:none; color:#000; font-size:12px;}
		.nav_buttom a:hover{ color:#FF4400}
		
		p{ font-size:12px;}
    </style>
    
</head>

<body style="background-image:url(img/iframe.png); background-repeat:repeat-x; background-position:top; width:100%; font-size:12px;">
	<div style="background-color:#FF4400; height:8px; width:100%"></div>
	<center>
    	<br />
        <br />
         <div class="container nav_buttom" align="center" style="height:150px;">
        	<a href="#">网站首页</a> | <a href="#">关于金嵘</a> | <a href="#">法律</a> | <a href="#">金嵘厨房</a>
            <br /> 
            <p>地址：成都市青羊区锦屏南路18号  邮政编码：636000</p>
            <p>电话：86-755-3363 5268 传真：86-755-3363 5270 邮箱：info@yzpj365.com;sales@yzpj365.com</p>
            <p>版权所有：成都金嵘厨房设备维修服务有限公司 蜀ICP备08106816号</p>
        </div>
        
    </center>
</body>
</html>
