@charset "utf-8";

.idx_product_list {}
.idx_product_list .product_list{height:370px; width:200px; margin-top:15px;}
.idx_product_list .product_list ul { margin-left:-40px; cursor:pointer; margin-top:0px; list-style:none}
.idx_product_list .product_list ul li{ padding-top:5px; padding-bottom:5px; border-bottom:1px #CCC solid; padding-left:15px;}
.idx_product_list .product_list ul li:hover{ color:#FF4400;border-bottom:1px #FF4400 solid;}
.idx_product_list .product_list ul .selected{color:#FF4400;border-bottom:1px #FF4400 solid; background-color:#E9E9E9}
.idx_product_list .i_page{position:absolute; right:0px; top:10px; font-size:16px; font-weight:bold; color:#666;}
.idx_product_list .i_page div{ float:right; margin-right:5px; margin-left:5px; cursor:pointer}
.idx_product_list .pro { margin-left:-23px; color:#999}
.idx_product_list .pro li{ padding-top:3px; padding-bottom:3px;}
.idx_product_list .pro_tab tr td{ padding:0.3em 0.5em;}
.idx_product_list .pt{font-size:16px; font-weight:bold; color:#666;}
.idx_product_list .pro_image{width:320px; height:380px; border:1px solid #FFF}
.idx_product_list .pro_image:hover{border:1px solid #FF4400; cursor:pointer}


.idx_product_list .peijian{ margin-top:8px; height:490px; width:100%;}
.idx_product_list .peijian .c{ border:1px solid #CCC; width:188px; height:200px; float:left; margin:10px 10px 10px 10px; padding:0.5em 0.5em; cursor:pointer}
.idx_product_list .peijian .c:hover{border:1px solid #FF4400;}
.idx_product_list .peijian p{ margin-top:5px; margin-bottom:3px;}

.idx_product_list .guihua_div{margin-top:15px; height:470px; width:100%;}

.fuwu div{ float:left; width:208px; height:350px; }
.fuwu .r{margin-right:26px;}
.fuwu .last{ margin-right:0px;}
.fuwu .img{ width:208px; height:150px; border:1px solid #FF4400;}
.fuwu img{ margin-bottom:15px;}
.fuwu div{ line-height:20px;}

.jiashao{ font-size:15px}
.t{ line-height:25px; font-size:16px;}

#marquee {position:relative;width: 785px;overflow:hidden;}
#marquee img {margin-right:5px;}
#marquee dl, #marquee dt,#marquee dd,#marquee a {float:left;margin:0;padding:0;}
#marquee dl{width:1000%;height:50px;}

#marqueeCur {position:relative;width: 785px;overflow:hidden;}
#marqueeCur img { margin-right:5px;}
#marqueeCur dl, #marqueeCur dt,#marqueeCur dd,#marqueeCur a {float:left;margin:0;padding:0;}
#marqueeCur dl{width:1000%;height:81px;}

.new_title{background-image:url(../img/texing_li.png); background-position:left; background-repeat:no-repeat; padding-left:20px; font-size:16px;}

.index_b_table{ margin-top:7px;}
.index_b_table tr td{ height:25px;}
.index_b_table a{ text-decoration:none; color:#000}
.index_b_table a:hover{ color:#09F}
.index_b_table .more{ float:right; color:#005AA0; cursor:pointer;}
.index_b_table .more:hover{color:#FF4400;}

