@charset "utf-8";
/* CSS Document */



.product_title{width:298px; height:60px; display:block; background-image:url(../img/products.png); background-repeat:no-repeat; margin-left:20px; margin-top:20px;}
.peijian_title{width:298px; height:60px; display:block; background-image:url(../img/peijian.png); background-repeat:no-repeat; margin-left:20px; margin-top:20px;}

.category{ margin-top:35px;}
.category .content{ float:left; height:35px; padding-top:6px; cursor:default}
.category .content .title{float:left; color:#FF4400; margin-right:10px; padding-top:5px; padding-bottom:5px; padding-right:5px;}
.category .content .name{float:left; padding:5px 5px 5px 5px; width:218px;}
.category .content .l_g{position:relative; top:25px; left:0px;}
.category .spa{width:50px;}
.category .text{ padding:15px;}
.category a{ text-decoration:none; color:#000; cursor:pointer}
.category a:hover{ text-decoration:underline; color:#Ff4400; }

.product_list{ width:200px; margin-top:15px;}
.product_list ul { margin-left:-40px; cursor:pointer; margin-top:0px; list-style:none}
.product_list ul li{ padding-top:5px; padding-bottom:5px; border-bottom:1px #CCC solid; padding-left:15px;}
.product_list ul li:hover{ color:#FF4400;border-bottom:1px #FF4400 solid;}
.product_list ul .selected{color:#FF4400;border-bottom:1px #FF4400 solid; background-color:#E9E9E9}

.search_btn{ color:#FFF}
.search_btn a{float:right; padding:0.2em 1em; background-color:#367FB2; margin-left:10px; cursor:pointer; font-size:14px; color:#FFF}
.search_btn a:hover{ background-color:#FF4400}

.zhonglei{ padding:0px 0px 15px 0px;}

.zhonglei .info{float:left; width:210px; height:280px; margin-bottom:15px;}
.zhonglei .fInfo{ height:190px;}
.zhonglei .i_sp{ float:left; width:26px; height:5px;}
.zhonglei .info .img{border:1px solid #CCC; width:210px; cursor:pointer}
.zhonglei .info .img:hover{border:1px solid #FF4400;}
.zhonglei .info .fImg{ height:130px;}
.zhonglei .info .i_tit{ font-size:12px;cursor:pointer; margin-bottom:0px; margin-top:4px; margin-left:0px; }
.zhonglei .info .i_tit span{color:#005AA0}
/*
.zhonglei .info .syjx{ width:145px; height:40px;color:#005AA0; float:right; margin-top:-16px;}
*/
.zhonglei .info .i_tit a{ text-decoration:none; color:#005AA0}
.zhonglei .info .i_tit a:hover{ color:#FF4400}
/*
.zhonglei .info .i_con{ color:#999; font-size:12px; margin-top:3px;}*/


/*------------------------------------------search------------------------------------------*/
.product_t ._search{ padding:0px 0px 15px 0px;}

.product_t ._search ._title{bottom:-10px; background-color:#FFF; z-index:1; width:70px; left:20px; padding-left:8px; font-size:14px; color:#FF4400}
.product_t ._search .round { 
	overflow:hidden;padding:10px; padding-top:15px;	margin-right:0px;
	border: 1px solid #FF4400;  
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px; 
	z-index:0;position:relative
}  
.product_t ._search .round table tr td{ padding:0.4em 0.6em;}

.product_t ._search .round table tr td select,.txt{padding:0.2em 0.4em;border:1px solid #FFB79D; width:200px;}
.product_t ._search .round table tr td select:hover,.txt:hover{ border:1px solid #FF4400}
/*------------------------------------------search------------------------------------------*/

.daohang{padding:25px 15px 15px 35px; font-size:14px;}
.daohang a{text-decoration:none; color:#005AA0}
.daohang a:hover{text-decoration:none; color:#FF4400}

.zidingyi a{ color:#005AA0; text-decoration:none;margin-right:20px; margin-bottom:25px; font-size:14px;}
.zidingyi a:hover{color:#FF4400; text-decoration:none; }

.product_base img{width:400px; height:400px; border:1px solid #EEEEEE;}
.product_base img:hover{width:400px; height:400px; border:1px solid #FF4400;}

.product_base .pt{font-size:20px; color:#FF4400;}
.product_base .pro { margin-left:-40px; color:#000; list-style:none; margin-top:0px;}
.product_base .pro li{ padding-top:3px; padding-bottom:3px; background-image:url(../img/texing_li.png); 
	background-repeat:no-repeat; background-position:left; padding-left:25px;}

.texin_title{ color:#6DAC0B; font-size:20px; margin-left:0px; margin-top:15px; }

.projieshao{padding:0px 0px 15px 0px; margin-top:25px; font-size:14px;background-image:url(img/shuiyin.png); background-position:center; background-repeat:no-repeat;}

#cp {position:relative;width: 920px;overflow:hidden; padding-top:5px; background-color:#FFF}
#cp  a{ position:relative}
#cp img {border:1px solid #FFF;}
#cp img:hover { border:1px solid #FF4400;}
#cp dl, #cp dt,#cp dd,#cp a {float:left;margin:0;padding:0;}
#cp dl{width:1000%;height:202px;}

#marquee {position:relative;width: 920px;overflow:hidden;}
#marquee img {border:1px solid #FFF;}
#marquee img:hover { border:1px solid #FF4400;}
#marquee dl, #marquee dt,#marquee dd,#marquee a {float:left;margin:0;padding:0;}
#marquee dl{width:1000%;height:105px;}