@charset "utf-8";
/* CSS Document */

.login_image {background-image:url(../image/login-bg.png); height:325px; width:630px; }
.login_content {width:335px; height:245px; border:1px solid #E5E5E5; background-color:#F1F1F1}
.login_content .login_title {
	margin-left:26px; 
	margin-bottom:8px; 
	*+margin-top:16px;/*IE7*/
}
.login_content .input {margin-left:26px; margin-bottom:8px; font-size:12px;}
.login_content .input p{ 
	*+margin-top:12px;/*IE7*/
	*+margin-bottom:11px;/*IE7*/
}
.login_content .input .i { width:280px; background-color:#FAFFBD; height:24px; 
						  border-top:1px solid #C0C0C0; border-bottom:1px solid #D9D9D9;
						  border-left:1px solid #D9D9D9;border-rigth:1px solid #D9D9D9;}

.lc { margin-top:40px;}

.title_bg {height:60px;}
.title_bg .create_account {font-size:12px; padding-top:20px;}
.title_bg .create_account a         {color: #1155CC;}
.title_bg .create_account a:link    {text-decoration:none;}
.title_bg .create_account a:visited {text-decoration:none;}	
.title_bg .create_account a:hover   {text-decoration:underline;}
.title_bg .create_account a:active  {text-decoration:none;}

.submit_button{
	margin-top:13px;
	*+margin-top:13px;/*IE7*/
}
.submit_button a         {color: #1155CC;font-size:12px;}
.submit_button a:link    { text-decoration:none; }
.submit_button a:visited {text-decoration:none;}	
.submit_button a:hover   {text-decoration:underline;}
.submit_button a:active  {text-decoration:none;}
.submit_button .a{padding-right:18px;}


.g_buttom_line{margin-top:40px;}

.g_language { background-repeat:no-repeat; background-image:url(../image/Language.png); height:15px; width:20px; display:block}

.g_bottom_nav {
	margin-top:8px;
	}
.g_bottom_nav ul {
	list-style:none; 
	margin-top:-8px; 
	*+margin-top:-3px;
	margin-left:-40px;}
.g_bottom_nav ul li { float:left; margin-right:15px;}
.g_bottom_nav a         {color: #3E3E3E;font-size:12px;}
.g_bottom_nav a:link    { text-decoration:none; }
.g_bottom_nav a:visited {text-decoration:none;}	
.g_bottom_nav a:hover   {text-decoration:underline;}
.g_bottom_nav a:active  {text-decoration:none;}
